@use '@styles/abstracts' as *;

.category-list {
  max-height: calc(5 * 3.5rem); // 5 lignes de ~40px
  overflow-y: scroll;
  margin-bottom: 1rem;
  padding-right: 0.5rem; // pour espace scrollbar

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-scroll-thumb);
    border-radius: radius('sm');
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--c-border);
  }

  &__delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    padding: 0.25rem;
    transition: transform 140ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}
