@use '@styles/abstracts' as *;

.modal-recompense {
  text-align: center;
  padding: spacing('md');

  &__label {
    font-size: font-size('2xl');
    margin-top: spacing('md');
  }

  &__text {
    font-size: font-size('base');
    margin-top: spacing('sm');
  }
}
