// src/components/ui/checkbox/Checkbox.scss
@use '@styles/abstracts' as *;
@use 'sass:color';

.checkbox-field {
  display: inline-flex;
  align-items: center;
  min-height: rem(44); // WCAG 2.2 AA - zone interactive minimum

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: rem(2) solid $color-primary;
    background-color: $color-bg;
    border-radius: $radius-sm;
    align-self: center;
    cursor: pointer;
    position: relative;
    transition:
      background-color $transition-fast,
      border-color $transition-fast,
      box-shadow $transition-fast;

    // Mobile-first: base = mobile (petit)
    width: rem(20);
    height: rem(20);

    // Desktop (576px+) = taille normale
    @include respond-to(sm) {
      width: rem(24);
      height: rem(24);
    }

    &:checked {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &:checked::after {
      content: '✔️';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      color: $color-text-invert;

      // Mobile-first: base = mobile (petit)
      font-size: rem(12);

      // Desktop (576px+) = taille normale
      @include respond-to(sm) {
        font-size: rem(14);
      }
    }

    // Focus ring unifié avec le reste du design system
    @include focus-ring($color-primary);
  }

  &__label {
    margin-left: $spacing-sm;
    font-size: $font-size-base;
    color: $color-text;
    cursor: pointer;
  }

  &__error {
    margin-top: $spacing-xs;
    margin-left: calc(rem(24) + $spacing-sm);
    font-size: $font-size-sm;
    color: $color-error;
  }

  // Variante sm (compacte)
  &--sm &__input {
    width: rem(16);
    height: rem(16);

    &:checked::after {
      font-size: rem(10);
    }
  }

  // Variante md (défaut explicite)
  &--md &__input {
    width: rem(20);
    height: rem(20);

    &:checked::after {
      font-size: rem(12);
    }
  }

  // Variante lg (grande taille pour meilleure accessibilité)
  &--lg &__input {
    width: rem(28);
    height: rem(28);

    &:checked::after {
      font-size: rem(18);
    }
  }
}
