// src/components/fields/Checkbox.scss
@use '@styles/abstracts' as *;
@use 'sass:color';

.checkbox-field {
  display: inline-flex;
  align-items: center;

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: rem(20);
    height: rem(20);
    border: rem(2) solid $color-primary;
    background-color: $color-bg;
    border-radius: $radius-sm;
    cursor: pointer;
    position: relative;
    transition:
      background-color $transition-fast,
      border-color $transition-fast;

    &:checked {
      border-color: $color-primary;
    }

    &:checked::after {
      content: '✔️';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      font-size: rem(14);
      color: $color-text-invert;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 rem(3) rgba($color-primary, 0.3);
    }
  }

  &__label {
    margin-left: $spacing-sm;
    font-size: $font-size-base;
    color: $color-text;
    cursor: pointer;
  }

  &__error {
    margin-top: $spacing-xs;
    margin-left: calc(rem(20) + $spacing-sm);
    font-size: $font-size-sm;
    color: $color-error;
  }

  // Responsive (optionnel)
  @include respond-to(xs) {
    &__input {
      width: rem(16);
      height: rem(16);

      &:checked::after {
        font-size: rem(12);
      }
    }
  }
}
