@use '@styles/abstracts' as *;

.layout {
  display: flex;
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  transition:
    background-color $transition-base ease,
    color $transition-base ease;

  .layout-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--color-bg);
    color: var(--color-text);

    main {
      flex: 1;
      /* [Mobile-first] Base = mobile (320px+) */
      padding: $spacing-md;
    }

    /* Desktop (576px+) */
    @include respond-to(sm) {
      margin-left: 0; // supprimer l'espace réservé à la sidebar sur mobile

      main {
        padding: $spacing-xl;
      }
    }
  }
}
