// themes/_index.scss
// Forward UNIQUEMENT les thèmes (ils génèrent tous du CSS volontairement)
// Aucun risque de duplication car ils ne seront utilisés QU'EN UN SEUL ENDROIT : main.scss

@forward './light';
@forward './dark';
@forward './calm';

// Si tu ajoutes d'autres thèmes plus tard :
// @forward './dyslexia';
// @forward './high-contrast';
