@use '@styles/abstracts' as *;

/// Conteneur central avec padding horizontal
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

/// Cache visuellement un élément mais garde son accessibilité
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
