@use '@styles/abstracts' as *;

html {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $text-font-stack;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;

  @include transition-smooth; // transition standardisée
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-stack;
  margin-bottom: $spacing-md;
  line-height: 1.2;
  color: var(--color-text);
}

p,
ul,
ol {
  margin-bottom: $spacing-md;
  color: var(--color-text);
}

ul,
ol {
  padding-left: $spacing-md;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  @include on-event {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
