@use '@styles/abstracts' as *;

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius-sm;
  background-color: white;
  box-shadow: $box-shadow;
  overflow: hidden;

  &--sm {
    width: rem(64);
    height: rem(64);
  }

  &--md {
    width: rem(96);
    height: rem(96);
  }

  &--lg {
    width: rem(128);
    height: rem(128);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
