@use '@styles/abstracts' as *;

.lang-selector {
  display: flex;
  flex-wrap: wrap; // permet de passer à la ligne si nécessaire
  gap: $spacing-xs;
  justify-content: center;

  button {
    background: none;
    border: rem(1) solid transparent;
    border-radius: $radius-sm;
    font-size: $font-size-lg;
    padding: $spacing-xs $spacing-sm;
    color: var(--color-text);
    cursor: pointer;

    @include transition-smooth;

    @include on-event {
      border-color: var(--color-text);
    }

    &.active {
      border-color: var(--color-text);
      font-weight: $font-weight-semibold;
      background-color: var(--color-hover);
    }

    &:focus-visible {
      outline: rem(2) dashed var(--color-accent);
      outline-offset: rem(2);
    }

    @include respond-to(xs) {
      flex: 1 1 100%;
      text-align: center;
    }
  }

  @include respond-to(xs) {
    flex-direction: column;
    align-items: center;
  }
}
