@use '@styles/abstracts' as *;
@use 'sass:color';

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xs $spacing-sm;
  border-radius: $radius-sm;
  font-weight: $font-weight-semibold;
  font-size: $font-size-base;
  line-height: 1.2;
  height: rem(25);
  cursor: pointer;
  border: none;
  box-shadow: $box-shadow;
  transition:
    background $transition-fast ease,
    color $transition-fast ease;

  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }

  &__text {
    display: inline-block;
  }

  &--default {
    background-color: $color-surface;
    color: $color-text;

    @include on-event {
      background-color: gray(200);
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-text-invert;

    @include on-event {
      background-color: color.adjust($color-secondary, $lightness: -6%);
    }
  }

  &--primary {
    //background-color: $color-primary;
    //color: $color-text-invert;
    background-color: #fff8dc;
    color: var(--color-primary, #0077c2);

    @include on-event {
      background-color: color.adjust($color-primary, $lightness: -6%);
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }
}
