@use '@styles/abstracts' as *;

.item-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  // Bouton submit aligné à droite
  button.btn {
    align-self: flex-end;
    margin-top: $spacing-md;
  }
}
.image-preview {
  align-self: center;
}
.message-erreur {
  white-space: pre-line;
}
