@use '@styles/abstracts' as *;
@use 'sass:color';

:root {
  --c-accent: #{blue(400)};
  --c-accent-light: #{blue(300)};
}

.separator {
  margin: 2.5rem 0;
  height: 2px;
  width: 100%;
  //background: linear-gradient(
  // 90deg,
  //var(--c-accent) 0%,
  //var(--c-accent-light) 50%,
  //var(--c-accent) 100%
  //);
  background-color: var(--pastel-color);
  background-size: 200% auto;
  animation: shimmer 2s linear infinite;
  border-radius: 2px;
  opacity: 0.8;
}

/* Animation douce type lumière qui glisse */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
