@use '@styles/abstracts' as *;

.separator {
  margin: spacing('xl') 0;
  height: size('2');
  width: 100%;
  background-color: color('base');
  background-size: 200% auto;
  animation: shimmer timing('slower') linear infinite;
  border-radius: radius('xs');
  opacity: opacity('half');
}

/* Animation douce type lumière qui glisse */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
