@use '@styles/abstracts' as *;

@use 'sass:color';

@keyframes pulse-light {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #{color.change(yellow(400), $alpha: 0.4)};
  }
  70% {
    transform: scale(1.03);
    box-shadow: 0 0 8px 8px #{color.change(yellow(400), $alpha: 0)};
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #{color.change(yellow(400), $alpha: 0)};
  }
}

.selected-reward-floating {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: z-index('modal');
  pointer-events: none;
  opacity: 0.95;

  &:focus-visible {
    outline: spacing('2') solid color('base', 'accent');
    outline-offset: spacing('2');
  }

  .card-edition.no-actions {
    animation: pulse-light 2s infinite;
    border-radius: radius('md');
    overflow: hidden;
  }

  .card-edition.no-actions .base-card__actions,
  .card-edition.no-actions .base-card__checkbox,
  .card-edition.no-actions .base-card__delete {
    display: none !important;
  }

  .card-edition.no-actions .base-card__col.info {
    padding-right: 0;
  }

  .grayscale {
    filter: grayscale(100%);
  }
}
