@use '@styles/abstracts' as *;

.btn-subscribe {
  background-color: brand('stripe');
  color: text('invert');
  font-weight: font-weight('bold');
  padding: spacing('12') spacing('20');
  border-radius: radius('rounded-12px');
  border: none;
  cursor: pointer;
  @include safe-transition(background-color, timing('fast'), easing('smooth'));

  &:hover {
    background-color: brand('stripe-hover');
  }

  &:focus-visible {
    outline: border-width('medium') solid text('invert');
    outline-offset: border-width('medium');
  }
}
