@use '@styles/abstracts' as *;
@use 'sass:color';
.btn-subscribe {
  background-color: #{brand(stripe)};
  color: #{text(invert)};
  font-weight: bold;
  padding: spacing('12') spacing('20');
  border-radius: radius('rounded-12px');
  border: none;
  cursor: pointer;
  transition: background-color transition('fast') ease;
  &:hover {
    background-color: #{brand(stripe-hover)};
  }

  &:focus-visible {
    outline: spacing('2') solid #{text(invert)};
    outline-offset: spacing('2');
  }
}
