@use '@styles/abstracts' as *;
@use 'sass:color';
.btn-subscribe {
  background-color: #{brand(stripe)};
  color: #{text(invert)};
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease;
  &:hover {
    background-color: #{brand(stripe-hover)};
  }

  &:focus-visible {
    outline: 2px solid #{text(invert)};
    outline-offset: 2px;
  }
}
