@use '@styles/abstracts' as *;

.card-recompense {
  @include card-style;

  .base-card__label {
    font-weight: bold;
  }

  &.active {
    border-color: var(--c-primary);
    background-color: var(--c-primary-light);
  }
}
