@use '@styles/abstracts' as *;

.delete-button {
  background: transparent;
  border: none;
  font-size: rem(20);
  line-height: 1;
  color: $color-text;
  cursor: pointer;
  padding: rem(4);

  &:hover {
    color: $color-error;
    transform: scale(1.2);
    transition: all $transition-fast ease;
  }
}
