@use '@styles/abstracts' as *;
/**
 * Page Admin : Metrics - Styles
 */

.metrics-page {
  min-height: 100vh;
  background: surface('bg');

  &__forbidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
    padding: spacing('xl');

    h1 {
      font-size: font-size('4xl');
      margin-bottom: spacing('md');
      color: text('default');
    }

    p {
      font-size: font-size('lg');
      color: text('light');
    }
  }
}
