@use '@styles/abstracts' as *;

.liste-taches-edition {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-md;
  justify-content: flex-start;
  background-color: var(--color-bg-soft);
  box-shadow: $box-shadow;
  border-radius: $radius-md;
  padding: $spacing-xs;
}
