@use '@styles/abstracts' as *;
@use 'sass:color';

.button-delete {
  background: transparent;
  border: none;
  padding: spacing('6');
  border-radius: radius('rounded-6px');
  cursor: pointer;
  color: var(--color-text);
  transition:
    background-color transition('fast') ease,
    transform transition('fast') ease;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: #{color.change(red(400), $alpha: opacity('md'))}; // rouge pastel doux
    transform: scale(1.1);
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-focus);
  }

  &__icon {
    width: spacing('22');
    height: spacing('22');
    pointer-events: none;
  }
}
