@use '@styles/abstracts' as *;
@use 'sass:color';

.button-delete {
  background: transparent;
  border: none;
  padding: 0.4rem;
  border-radius: 6px;
  cursor: pointer;
  color: var(--color-text);
  transition:
    background-color 120ms ease,
    transform 120ms ease;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: #{color.change(red(400), $alpha: 0.15)}; // rouge pastel doux
    transform: scale(1.1);
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-focus);
  }

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    pointer-events: none;
  }
}
