@use '@styles/abstracts' as *;

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: $font-size-lg;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  transition:
    background $transition-fast,
    color $transition-fast;
  color: $color-text;

  &:hover {
    background: gray(200);
    color: $color-primary;
  }
  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}
