@use '@styles/abstracts' as *;

.card {
  background: $color-surface;
  border-radius: $radius-lg;
  box-shadow: $box-shadow;
  padding: $spacing-xxs;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  width: 100%;

  &--vertical {
    flex-direction: column;
    align-items: flex-start;

    .card__col--actions {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    gap: $spacing-xs;

    &--info {
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
    }

    &--actions {
      margin-left: auto;
      gap: $spacing-xs;
    }
  }

  &__label {
    font-size: $font-size-base;
    color: $color-text;
  }
}
