@use '@styles/abstracts' as *;

.edition-sidebar {
  @include card-style;
  width: rem(220);
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  &__title {
    font-size: $font-size-lg;
    margin: 0;
  }

  &__link {
    font-size: $font-size-sm;
  }
}
