@use '@styles/abstracts' as *;

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(40);
  height: rem(40);
  border: none;
  border-radius: $radius-full;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;

  @include transition-smooth;

  @include on-event {
    background-color: var(--color-hover);
    transform: scale(1.1);
  }

  svg {
    width: rem(24);
    height: rem(24);
    display: block;

    @include respond-to(xs) {
      width: rem(20);
      height: rem(20);
    }
  }

  @include respond-to(xs) {
    width: rem(36);
    height: rem(36);
  }
}
